.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2, h4{
  margin: 5px 0;
  text-align: center;
  font-weight: 400;
  font-family: 'Century Gothic'
}
.title__select{
  margin-top: 15px;
  color: #e4185d;
}
form {
  min-height: 210px;
  width: 25rem;
  background: pink;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
}

select,
input[type="submit"] {
  margin-top: 15px;
}

.select{
  margin: 0 10px;
}

input[type="submit"] {
  /* position: absolute; */
  /* bottom: 10px; */
  border: none;
  height: 30px;
  border-radius: 5px;
  background-color: #e4685d;
  color: white;
  /* margin-top: 0; */
}
